


/* ::::::::::::::::::::::::::::::VARIABLES :::::::::::::::::::::::::::::: */
html{
    --pad-gap:1em; /* paddings and gaps */ 
	--cthemeBlue:#45D7DE;
	--cthemeBlue2:#3dbdc4;
	--cthemeRed:#F90013;  
}


@media screen and (min-width: 35em) {
.brandName{
	display: flex;

	height: 4em;
}



.stageRow:nth-child(even){
	grid-template-columns: 2fr auto 2fr;
	grid-template-areas: "em nd na";
	gap: calc(var(--pad-gap)*2);

	}
.stageRow:nth-child(even)  .stageName {
	
	grid-area: na;
}

.stageRow:nth-child(even)  .stageNDiv{
	grid-area: nd;


}

.stageRow:nth-child(odd){
	
		gap: calc(var(--pad-gap)*2);
		grid-template-columns: 2fr auto 2fr;
		grid-template-areas: "na nd em";
		}



		.stageRow:nth-child(odd)  .stageName {
			grid-area: na;
		
			justify-self: flex-end;
		}

		.stageRow:nth-child(odd)  .stageNDiv{
			grid-area: nd;
		
		
		}



		.aproachHeading h2{
			font-size: 4em;
		}

}


@media screen and (min-width: 45em) {





	.reasonInfo span:first-child{
		font-size: 1.7em;
	}
	
	.reasonInfo span:last-child{
		font-size: 1.5em;
	}

	.TitleForm, .qForm-home .contentQForm .TitleForm{
		font-size: 4em;
		
	}

	.contactQFormDiv div{
		gap: calc(var(--pad-gap));
	}
	.contactQFormDiv div p{
		font-size: 1.1em;
	}

	.iconQForm{
		width: 1.8em;
	}








	.serviceHeader div, .headerCommonDiv{
		grid-template-columns:1fr 1fr;
		grid-template-areas: "leg pic";
		justify-content: flex-end;
		padding: var(--pad-gap)	;
		gap: var(--pad-gap);
	}




	.serviceHeader div p, .headerCommonDiv p{
		grid-area: leg;

		font-size: 3em;
		text-align: center;
		width: fit-content;

		/* border:0.2em solid blue; */
		justify-self: center;
		
	}
	
	.serviceHeader div img, .headerCommonDiv img {
		grid-area: pic;
		display: flex;
		width: 100%;
		height: 100%;


		opacity: 1;
	}
		
	








.overlay-header{

	padding: calc(var(--pad-gap)*10);
	
}






.root-wUs {
	gap: calc(var(--pad-gap)*5);
}

.root-wUs .row-wUs:nth-child(odd) {
	grid-template-areas: "inf pic";
}

.root-wUs .row-wUs:nth-child(even) {
	grid-template-areas: "pic inf";
}

.row-wUs{
	padding:  calc(var(--pad-gap)*2) calc(var(--pad-gap));
	gap: calc(var(--pad-gap)*5);
	border: 0.02em solid rgba(114, 114, 114, 0.2);
}

.reasonInfo{
grid-area: inf;
/* border: 0.2em solid rgb(81, 219, 18); */
height: fit-content;
}

.reasonPicture{
	display: inline-block;
	grid-area: pic;
	width: 16em;
	height: auto;

	/* border: 0.02em solid blue; */
}



.homeh1Div h1, .rootServiceDetail div p:first-child{
	/* font-size: 2.6em; */
	
	}
	
	.homeh1Div p, .rootServiceDetail div p:last-child{
		/* font-size: 1.3em; */
		
	}



.reasonInfo span:first-child{
	/* font-size: 2.5em; */
}

.reasonInfo span:last-child{
	/* font-size: 1.8em; */
}




.eListParent{
	display: grid;
	/* padding: 0 calc(var(--pad-gap)*4); */
	/* justify-content: center; */
	
}


.eList{

	grid-template-columns: 2fr auto;
	align-items: flex-end;
	justify-content: space-between;
	padding: calc(var(--pad-gap)*6) calc(var(--pad-gap)*4);
	/* width: 40em; */
	background-color: grey;

}

.eList div{
	gap: calc(var(--pad-gap)*2);
}

.labelEList{
	display: flex;
	flex-grow: grow;
	flex-wrap: wrap;
	height: 2em;
}



.emailEList{
	text-align: left;
}



.whoWeAre{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 calc(var(--pad-gap)*2);
	align-content: center;
	align-items: center;
	/* gap: var(--pad-gap); */


	}

.whoWeAreDiv{
height: fit-content;

}


.whoWeAre img{
	display: flex;

	height: 25em;
	justify-self: flex-end;
}




.callaction p:first-child{
	font-size: 3em;
}

	.callaction p:last-child{
		font-size: 1.5em;
	}








	.pfolioDetail{
		display: grid;
		grid-template-columns: 1fr 1fr;	
		padding: calc(var(--pad-gap)*2) calc(var(--pad-gap)*2);

	
	}

.linkHeadingPfolio{
	font-size: 1.4em;
}

.pFolioDescription{
	font-size: 1.2em;
}

.pFolioSkills{
	font-size: 1.2em;

}








.brandLogoFooter{
	display: flex;	
	justify-self: center;
	height: 4em;
}


.brandNameFooter{
	display: flex;
	justify-self: center;
	height: 3em;
}

.rightsP{
	display: flex;
	justify-self: center;
}


.footer{
	grid-template-areas: "rig nav";
	gap: var(--pad-gap);

}


.footerNav{
	grid-area: nav;
}

.rights{
	display: grid;
	grid-area: rig;
	justify-content: center;
	align-content: center;

	gap: var(--pad-gap);

	/* border:0.02em solid rgb(0, 255, 98); */
}

.brandNameFooter{
	display: flex;
}


.brandFooter{
	display: grid;
	/* border:0.02em solid yellow; */
}
	
	
	
.footerNavUL{
	display: flex;
	justify-content: center;
}



.footer{
	padding: calc(var(--pad-gap)) calc(var(--pad-gap)*2);
}


.elistAlert div span, .qFAlertSpan {
	font-size: 2em;
}




.stages {
	padding: calc(var(--pad-gap)*4);
}

.stageName{
	font-size: 1.2em;
	max-width: 60%;
}

.stageNDiv span{
	font-size: 2em;
	padding-top: calc(var(--pad-gap)/3);
	
}

.stageNDiv {
	width: max-content;
	height: max-content;

}


}

@media screen and (min-width: 65em) {

main{
	display: grid;
}

  body{
      /* background-color: rgb(48, 43, 56); */
  }

  .brandLogo{
	height: 3em;
}

  .brandName{
      display: flex;

	  height: 3em;
  }


.header{
	display: flex;
	padding: calc(var(--pad-gap)) 0;
	justify-content: center;
	gap: calc(var(--pad-gap)*2);
}



  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* NAVIGATION MENU */
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */




  .navigation{
    display: flex;
	/* border:0.05em solid rgb(233, 16, 241); */
	border:none;
  box-shadow: none;
	padding: 0;

	position: static;
	width: fit-content;
}


.ulMenu{
	display: flex;
	padding: 0;

	align-items: center;
	/* border:0.05em solid rgb(209, 15, 216); */
	gap: calc(var(--pad-gap));
}

.ulMenu * {
	/* font-size: 1.05em; */
}

/* .ulMenu * :hover{
	color: var(--cthemeBlue);
  } */




.ulMenu div, .contactItemMenu {
	display: flex;
	align-items: center;
	gap: calc(var(--pad-gap));
}

.contactItemMenu{
	padding: 0;
	border:none;
}

.itemMenu{
	/* border:0.05em solid rgb(60, 255, 0); */
	
	font-size: 0.9em;
	cursor: default;
}




.menuServices{
position: relative;
/* background-color: rosybrown; */
}

.submenuServices{
	display: grid;
	gap: 0;

	width: 22em;
	position: absolute;
	top:5em;
	left:-2em;
	z-index: 99;
	padding: calc(var(--pad-gap)*2);
	background-color: rgb(0, 0, 0);
	border:0.1em solid rgba(255, 255, 255, 0.513);
  box-shadow: 0px 0px 9px 1px rgba(255, 255, 255, 0.1)
	
	/* border:0.05em solid rgb(226, 241, 17); */
	
	/* font-size: 0.7em; */
}

.submenuItem{
	background-color: rgb(0, 0, 0);
}

.submenuItem:hover{
	background-color: var(--cthemeBlue);
}




.hamBtn{
    display: none;
}




.iMenuGetQuote{
	padding: var(--pad-gap) calc(var(--pad-gap));
}

.iMenuPhone{
	background-color: transparent;
}


  




.iMenuPhone:hover{
	background-color: transparent;
	color:var(--cthemeRed);
}


.overlay-header{

	padding: calc(var(--pad-gap)*5);
	
	
}

.legend{
	font-size: 3em;
	text-align: left;
}

.btnQuote {
	justify-self: flex-start;

}

.header-mainHome{
	display: flex;
	height: 35em;


}

.serviceHeader div img, .headerCommonDiv img{
	animation: movepic 1.2s ;
	animation-direction: normal;
}




.overlay-header img {
	display: flex;
	width: 25em;
	height: 25em;
	/* border:0.02em solid rgb(255, 208, 0); */
	animation: movepic 1.2s ;
	animation-direction: normal;
}

@keyframes movepic {
	0% {
		transform: scale(0.9);
		-webkit-transform: scale(0.9);
	  opacity: 0.7;
	}
	100% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	  opacity: 1;
	}
  }


.qFormContainer{
	padding: calc(var(--pad-gap)*4);
}


.qForm-home{
	padding: calc(var(--pad-gap)*4);
}


.formGetAquote{
	padding: calc(var(--pad-gap)*4 ) calc(var(--pad-gap)*8);
}





.homeh1 {
	
}



.root-wUs {
	gap: calc(var(--pad-gap)*5);
}

.root-wUs .row-wUs:nth-child(odd) {
	grid-template-areas: "inf pic";
}

.root-wUs .row-wUs:nth-child(even) {
	grid-template-areas: "pic inf";
}

.row-wUs{
	padding:  calc(var(--pad-gap)*2) calc(var(--pad-gap)*4);
	gap: calc(var(--pad-gap)*5);
	border: 0.02em solid rgba(114, 114, 114, 0.2);
}

.reasonInfo{
grid-area: inf;
/* border: 0.2em solid rgb(81, 219, 18); */
height: fit-content;
}

.reasonPicture{
	display: inline-block;
	grid-area: pic;
	width: 25em;
	height: auto;

	/* border: 0.02em solid blue; */
}



.homeh1Div h1, .rootServiceDetail div p:first-child, .who{
	font-size: 2.6em;
	
	
	}

	.who{
		height: 2em;
	}
	
	.homeh1Div p, .rootServiceDetail div p:last-child{
		font-size: 1.3em;
		
	}



.reasonInfo span:first-child{
	font-size: 2.5em;
}

.reasonInfo span:last-child{
	font-size: 1.8em;
}



















	
.rootServiceDetail div p:last-child {
	font-size: 1.2em;
}
	




.getAQuote{
	display: flex;
	align-items: center;
	justify-content: center;
}


.contactUs{
	height: 25em;
}




	.fieldsQFormDiv{
		display: grid;
		/* grid-template-columns: auto auto auto; */
		/* gap: var(--pad-gap); */
	}



	.subQForm{
		justify-self: flex-start;
	}

	

	.contactQFormDiv{
		display: grid;
		grid-template-columns: auto auto auto;
	justify-content: space-between;
		/* border:0.5em solid rgb(123, 255, 0); */
	}


	.contactQFormDiv div p{
		font-size: 1.2em;
	}

	.iconQForm{
		width: 2em;
	}






/* 
.mainCommon{
gap:calc(var(--pad-gap)*8);
} */



	

	.misionVision{
		display: flex;
		gap: calc(var(--pad-gap)*2);
	}

		
	.mision p:first-child, .vision p:first-child{
		font-size: 1.4em;
	}
		
	.mision p:last-child, .vision p:last-child{
		font-size: 1.2em;
	}






  .withUs p:first-child {
    font-size: 3em;
   
    }
    
    .withUs p:last-child{
     
      font-size: 2.2em;
     
    }




	


	.serviceHeader div p, .headerCommonDiv p{
		
		font-size: 4em;
		

	}


	

}







	











@media screen and (min-width: 75em) {

	.brandLogo{
		height: 4em;
	}
	
	  .brandName{
	
		  height: 4em;
	  }
	

	  .overlay-header{

		padding: calc(var(--pad-gap)*8);
		/* border:0.5em solid red; */
		
	}


	
	.eList{

		padding: calc(var(--pad-gap)*4) calc(var(--pad-gap)*8);
	
	}

}



@media screen and (min-width: 95em) {
	.overlay-header{

		padding: 0 calc(var(--pad-gap)*15);
		/* border:0.5em solid rgb(250, 246, 188); */

		
	}




	.whoWeAre{
		padding: 0 calc(var(--pad-gap)*6);
	
	
		}



		.serviceHeader div p, .headerCommonDiv p{
			font-size: 6em;
		}

}





